<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Developer at <strong>Publi Runner</strong> building things for mobile platforms. In 2018 I graduated from the University 
      of Seville with a degree in <strong>Computer Engineering</strong>.
    </p>

    <p>
      As a software engineer, I enjoy closing the gap between engineering and design, always taking care of the appearance and 
      usability of the applications I develop. My goal is always to create applications that are scalable and efficient under 
      the hood, while providing attractive user experiences.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
