<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/sharetribe/sharetribe.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">Sharetribe</a>
        </div>
        <p>Sharetribe is a collaborative trade marketplace that brings together owners of private bicycles in tourist cities.
</p>
      </figcaption>
    </div>
  </div>
</section>
